
{{>header}}
<table align="center" class="table2">
    <tr>
        <th><h3 align=center><a href='/addprod' class="button">Add a New Product</a></h3></th>
        <th><h3 align=center><a href='/updateDelete' class="button">Update a Product</a></h3></th>
        <th><h3 align="center"><a href='/displayInventory' class="button">Product Inventory</a></h3></th>
    </tr>
</table>    
    <h3 align=center>Total Sales: ${{totalSales}}</h3>
<h3 align=center>Total Orders: {{totalOrders}}</h3>
<h1 align=center>Administrator Sales Report by Day</h1>

<style>
    .table{
        width: 70%;
        border-collapse: collapse;
    }
    .table th, .table td{
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        color: #9f3074;
    }
    .table2{
        width:100%,
        border-collapse:collapse;
    }
    .table2 th, .table2 td{
        padding: 25px;
        text-align:center
    }
    .mycanvas{

    }
    
</style>


<table border="1" align=center class="table">
    <tr>
        <th>Order Date</th>
        <th>Total Order Amount</th>
    </tr>
    {{#each salesHbs}}
    <tr>
        <td style="text-align: center"> {{orderDate}}</td>
        <td> {{toa}}</td>
    </tr>
    {{/each}}
</table>

<div align="center">
  <canvas id="myChart" width="200" height="400"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{{#each dataO}}"{{date}}",{{/each}}],
      datasets: [{
        label: 'Sales per day',
        data: [{{dataS}}],
        borderWidth: 1,
        borderColor: '#9f3074',
        backgroundColor: '#9f3074'
      }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        aspectRatio: 2,
        scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<h1 align=center>List of all customers</h1>
<table border=\"1" align=center class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Customer ID</th>
    </tr>
    {{#each customersHbs}}
    <tr>
        <td style ="text-align: center"> {{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{customerId}}</td>
    </tr>
    {{/each}}
    </table>
    <br>
    