<style>
    .table{
        width: 70%;
        border-collapse: collapse;
    }
    .table th, .table td{
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        color: #9f3074;
    }
    .table2{
        width:100%,
        border-collapse:collapse;
    }
    .table2 th, .table2 td{
        padding: 25px;
        
    }
</style>
{{>header}}
<h1 align=center>Customer Profile</h1>
<table align=center style="width:400" class="table">
    <tr>
        <td>
            ID
        </td>
        <td>
            {{custId}}
        </td>
    </tr>
    <tr>
        <td>
            First Name
        </td>
        <td>
            {{firstName}}
        </td>
    </tr>
    <tr>
        <td>
            Last Name
        </td>
        <td>
            {{lastName}}
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            {{email}}
        </td>
    </tr>
    <tr>
        <td>
            Phone Number
        </td>
        <td>
            {{tel}}
        </td>
    </tr>
    <tr>
        <td>
            Address
        </td>
        <td>
            {{address}}
        </td>
    </tr>
    <tr>
        <td>
            City
        </td>
        <td>
            {{city}}
        </td>
    </tr>
    <tr>
        <td>
            State
        </td>
        <td>
            {{state}}
        </td>
    </tr>
    <tr>
        <td>
            Postal Code
        </td>
        <td>
            {{zip}}
        </td>
    </tr>
    <tr>
        <td>
            Country
        </td>
        <td>
            {{country}}
        </td>
    </tr>
    <tr>
        <td>
            Username
        </td>
        <td>
            {{userId}}
        </td>
    </tr>
</table>
<table align=center class="table2">
    <tr>
        <th>
             <h3 align=center><a href='/editAccount' class="button">Edit Account Info</a></h3>

        </th>
        <th>
            <h3 align=center><a href='/listUserOrders' class="button">My Orders</a></h3>
        </th>
    </tr>
    
</table>
